################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aquarium/v16
/Debug
/Release
/aquarium/Debug
/aquarium/Release